.owned {
    background-color: #04ff04;
}

.friend-th {
    width: 64px;
}
.friend-th img {
    margin: -8px;
}

.fixed-table-body {
    height: auto;
}
.fixed-table-continaer {
    height: auto;
    padding-bottom: initial;
}

#friends-form .dropdown-menu img {
    height: 24px;
    width: 24px;
}
.min-ownership-container {
    line-height: 45px;
}
.min-ownership-container label {
    margin-bottom: 0;
}
.min-ownership-container .rangeslider {
    width: 200px;
    display: inline-block;
    top: 5px;
}
.min-ownership-container output {
    display: inline-block;
}
