.owned {
    background-color: #04ff04;
}

.friend-th {
    width: 64px;
}
.friend-th img {
    margin: -8px;
}

.fixed-table-body {
    height: auto;
}
.fixed-table-continaer {
    height: auto;
    padding-bottom: initial;
}

#friends-form .dropdown-menu img {
    height: 24px;
    width: 24px;
}
.min-ownership-container {
    line-height: 45px;
}
.min-ownership-container label {
    margin-bottom: 0;
}
.min-ownership-container .rangeslider {
    width: 200px;
    display: inline-block;
    top: 5px;
}
.min-ownership-container output {
    display: inline-block;
}

@media screen and (max-width: 600px) {
    body > .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .fixed-table-container thead th .th-inner {
        white-space: initial;

    }
    .fixed-table-container thead th .sortable {
        padding: 8px 11px 8px 4px;
        background-position-x: calc(100% + 4px);
    }
    #my-games {
        font-size: 12px;
    }
    #my-games > tbody > tr > td {
        padding: 4px;
    }
    .friend-th img {
        width: 24px;
        height: 24px;
    }
}
